* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

#canvas1 {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas3 {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}