* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
      
#canvas3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background:radial-gradient(blue, black); */
    background: black;
}

#text {
    position: absolute;
    color: aqua;
}

#link {
    position: absolute;
    color: aqua;
    text-decoration: none;
}

#link:hover {
    color: blue;
}

#start-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 12px 20px;
    border: 0;
    color: aqua;
    font-size: 1.25vw;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid aqua;
    background: black;
}

#start-btn:hover {
    color: blue;
    border: 3px solid blue;
}

#stop-btn {
    position: absolute;
    padding: 5px 12px;
    border: 0;
    color: aqua;
    font-size: 1.25vw;
    cursor: pointer;
    border-radius: 5px;
    background: none;
    border: 2px solid aqua;
}

#stop-btn:hover {
    color: blue;
    border: 2px solid blue;
}